extends layout

block content
  .row.banner
    .col-12
      h1 Pizza Finder
        small &nbsp; - Find some pizza man!

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href='/location') 575 Pizzaria
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 100m
          p.address 7710 Hillside Rd Suite 700, Amarillo, TX 79119
          .facilities
            span.badge.badge-warning Draft Beer
            span.badge.badge-warning Made to Order
            span.badge.badge-warning Hipster Atmosphere

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href='/location') Giovannis Pizza
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 200m
          p.address 4715 S Western St, Amarillo, TX 79109
          .facilities
            span.badge.badge-warning Traditional 
            span.badge.badge-warning Hue Mongus Pies
            span.badge.badge-warning Get takeout, terrible atmosphere

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href='/location') Pizza Planet
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 50m
          p.address 6801 Bell S #100, Amarillo, TX 79109
          .facilities
            span.badge.badge-warning Delivery or Pickup 
            span.badge.badge-warning Inexpensive
            span.badge.badge-warning Cheesy and Greasy
